Repository tworkshyd/V2Codebase, changes with the owners that CODEOWNERS names for each.
All owners: @anand-tworks, @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/ControlBoard, @tworkshyd/V2CodeBase/DisplayBoard, @tworkshyd/V2CodeBase/Tests, @doctocat

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @anand-tworks and @tworkshyd/V2CodeBase will be requested for
# review when someone opens a pull request.

*       @anand-tworks @tworkshyd/V2CodeBase

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies specific files, only @<username> and not the global
# owner(s) will be requested for a review.


# In this for example, @tworkshyd/V2CodeBase owns any files in the mcu1
# directory at the root of the repository and any of its
# subdirectories.


# Control Board Code base
/ControlBoard @tworkshyd/V2CodeBase 	@tworkshyd/V2CodeBase/ControlBoard


# Display Board Code base
/DisplayBoard @tworkshyd/V2CodeBase 	@tworkshyd/V2CodeBase/DisplayBoard


# Testcases and Docs
/tests @tworkshyd/V2CodeBase 			@tworkshyd/V2CodeBase/Tests

























# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
/docs/ @doctocat

File templated created.. to use with firmware development in T-works projects.
  DisplayBoard/inc/template.h
  DisplayBoard/src/template.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

Gitignore updated.
  DisplayBoard/Readme.txt
  DisplayBoard/build/default/production/main.o
  DisplayBoard/dist/default/production/DisplayBoard.production.elf
  DisplayBoard/dist/default/production/DisplayBoard.production.hex
  DisplayBoard/dist/default/production/DisplayBoard.production.map
  DisplayBoard/dist/default/production/memoryfile.xml
  DisplayBoard/main.c
  DisplayBoard/nbproject/Makefile-genesis.properties
  DisplayBoard/nbproject/private/private.xml
  DisplayBoard/nbproject/project.xml
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

Gitignore updated.
  .gitignore
Owners: @anand-tworks, @tworkshyd/V2CodeBase

Gitignore and .c file templates updated.
  .gitignore
  DisplayBoard/Readme.txt
  DisplayBoard/inc/platform.h
  DisplayBoard/nbproject/Makefile-default.mk
  DisplayBoard/nbproject/Makefile-genesis.properties
  DisplayBoard/nbproject/configurations.xml
  DisplayBoard/nbproject/project.xml
  DisplayBoard/src/platform.c
  DisplayBoard/src/template.c
Owners: @anand-tworks, @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

Added system_tests.c & updating platform.h files as per ver2.2 PCB.
  DisplayBoard/build/default/production/main.o.d
  DisplayBoard/inc/atmega2560.h
  DisplayBoard/inc/config.h
  DisplayBoard/inc/platform.h
  DisplayBoard/inc/system_tests.h
  DisplayBoard/main.c
  DisplayBoard/nbproject/Makefile-default.mk
  DisplayBoard/nbproject/configurations.xml
  DisplayBoard/src/system_tests.c
  DisplayBoard/src/template.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

atmelXX.h file updated with ADC driver.
  DisplayBoard/inc/atmega2560.h
  DisplayBoard/inc/platform.h
  DisplayBoard/nbproject/private/private.xml
  DisplayBoard/src/platform.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

Except UART & I2C busses all other GPIOs directions selected.
  DisplayBoard/inc/atmega2560.h
  DisplayBoard/inc/platform.h
  DisplayBoard/src/platform.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

LED files added to project folder.
  DisplayBoard/Readme.txt
  DisplayBoard/inc/atmega2560.h
  DisplayBoard/inc/led.h
  DisplayBoard/inc/platform.h
  DisplayBoard/main.c
  DisplayBoard/nbproject/Makefile-default.mk
  DisplayBoard/src/led.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

LED control Macros coded and tested.
  DisplayBoard/inc/atmega2560.h
  DisplayBoard/inc/led.h
  DisplayBoard/inc/platform.h
  DisplayBoard/inc/system_tests.h
  DisplayBoard/main.c
  DisplayBoard/src/led.c
  DisplayBoard/src/platform.c
  DisplayBoard/src/system_tests.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

LEDs scrolling Up & Down implemented.
  DisplayBoard/inc/config.h
  DisplayBoard/inc/led.h
  DisplayBoard/inc/system_tests.h
  DisplayBoard/main.c
  DisplayBoard/src/led.c
  DisplayBoard/src/system_tests.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

Scroll up/down minor bug fixes.
  DisplayBoard/inc/led.h
  DisplayBoard/src/led.c
  DisplayBoard/src/system_tests.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

Inhale, Exhale LED effects generated.
  DisplayBoard/inc/led.h
  DisplayBoard/src/led.c
  DisplayBoard/src/system_tests.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

Timer .c, .h files created.
  DisplayBoard/inc/timer.h
  DisplayBoard/nbproject/Makefile-default.mk
  DisplayBoard/src/timer.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

Timer interrupt triggered.. !!
  DisplayBoard/inc/platform.h
  DisplayBoard/inc/timer.h
  DisplayBoard/src/platform.c
  DisplayBoard/src/system_tests.c
  DisplayBoard/src/template.c
  DisplayBoard/src/timer.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

Exact 1msecs timer interrupt achieved by adjusting timer register and pre-scaler values and the same is verified on DSO.
  DisplayBoard/src/timer.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

Timer is working fine even if the interrupt flag is not cleared.
  DisplayBoard/src/timer.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

Trimming & tidyingTimer ISR and its initializations.
  DisplayBoard/inc/timer.h
  DisplayBoard/src/platform.c
  DisplayBoard/src/timer.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

All time keeper variables created and achieved time slicing. Periodic platform tasks created as place holders, for future use.
  DisplayBoard/inc/platform.h
  DisplayBoard/inc/timer.h
  DisplayBoard/main.c
  DisplayBoard/src/platform.c
  DisplayBoard/src/template.c
  DisplayBoard/src/timer.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

Uart files created, coding ISR based UART.
  DisplayBoard/inc/platform.h
  DisplayBoard/inc/system_tests.h
  DisplayBoard/inc/template.h
  DisplayBoard/inc/uart.h
  DisplayBoard/main.c
  DisplayBoard/nbproject/Makefile-default.mk
  DisplayBoard/src/platform.c
  DisplayBoard/src/system_tests.c
  DisplayBoard/src/uart.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

under development UART driver.
  DisplayBoard/inc/uart.h
  DisplayBoard/src/system_tests.c
  DisplayBoard/src/uart.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

UART3 working, Tx polling and Rx Interrupt implementation.
  DisplayBoard/inc/uart.h
  DisplayBoard/main.c
  DisplayBoard/src/system_tests.c
  DisplayBoard/src/uart.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

Interrupt based UART3 reception tested : working fine
  DisplayBoard/inc/uart.h
  DisplayBoard/src/template.c
  DisplayBoard/src/uart.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

Blocking type Uart test code working.
  DisplayBoard/inc/platform.h
  DisplayBoard/inc/uart.h
  DisplayBoard/main.c
  DisplayBoard/src/platform.c
  DisplayBoard/src/uart.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

Uart interrupt based transmission tested.
  DisplayBoard/inc/uart.h
  DisplayBoard/src/platform.c
  DisplayBoard/src/uart.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

Uart interrupt based reception tested.
  DisplayBoard/inc/uart.h
  DisplayBoard/src/platform.c
  DisplayBoard/src/uart.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

Circular buffer code under development.
  DisplayBoard/inc/cbuf.h
  DisplayBoard/inc/uart.h
  DisplayBoard/nbproject/Makefile-default.mk
  DisplayBoard/src/cbuf.c
  DisplayBoard/src/uart.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

Uart Tx & Rx using circulat buffers implemented .. and tested.
  DisplayBoard/.generated_files/flags/default/cda360e78779e2ec9011a186e3ff2094650a1e7e
  DisplayBoard/inc/cbuf.h
  DisplayBoard/inc/uart.h
  DisplayBoard/nbproject/Makefile-default.mk
  DisplayBoard/nbproject/Makefile-local-default.mk
  DisplayBoard/src/cbuf.c
  DisplayBoard/src/platform.c
  DisplayBoard/src/uart.c
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

intermediate commit.
  DisplayBoard/nbproject/Makefile-impl.mk
Owners: @tworkshyd/V2CodeBase, @tworkshyd/V2CodeBase/DisplayBoard

MCU1 compiler warnings cleared.
  mcu1/BoardDefines.h
  mcu1/gauge_pressure.cpp
  mcu1/mcu1.ino
Owners: @anand-tworks, @tworkshyd/V2CodeBase

MCU2 compiler warnings cleared.
  mcu2/BoardDefines.h
  mcu2/encoder/encoder.c
  mcu2/lcd_display/ctrl_display.cpp
  mcu2/lcd_display/ctrl_display.h
  mcu2/mcu2.ino
  mcu2/sensors/O2_sensor.cpp
  mcu2/state_control/statecontrol.cpp
  mcu2/state_control/statecontrol.h
Owners: @anand-tworks, @tworkshyd/V2CodeBase

Version no. updated.
  mcu2/lcd_display/ctrl_display.cpp
Owners: @anand-tworks, @tworkshyd/V2CodeBase

Warning removal (#31)
  mcu1/BoardDefines.h
  mcu1/gauge_pressure.cpp
  mcu1/mcu1.ino
  mcu2/BoardDefines.h
  mcu2/encoder/encoder.c
  mcu2/lcd_display/ctrl_display.cpp
  mcu2/lcd_display/ctrl_display.h
  mcu2/mcu2.ino
  mcu2/sensors/O2_sensor.cpp
  mcu2/state_control/statecontrol.cpp
  mcu2/state_control/statecontrol.h
Owners: @anand-tworks, @tworkshyd/V2CodeBase

LED D9 used as Heart beat indicator.
  mcu1/README.md
  mcu1/mcu1.ino
Owners: @anand-tworks, @tworkshyd/V2CodeBase

Testing the modified code.
  mcu1/README.md
  mcu1/mcu1.ino
Owners: @anand-tworks, @tworkshyd/V2CodeBase

Boot-up LED sequence added and part of the code indented for ease in reading.
  mcu1/control_board.h
  mcu1/mcu1.ino
Owners: @anand-tworks, @tworkshyd/V2CodeBase

Code indented and few comments were numbered.
  mcu1/mcu1.ino
Owners: @anand-tworks, @tworkshyd/V2CodeBase

LED indication added for inhale - exhale operations.
  mcu1/mcu1.ino
Owners: @anand-tworks, @tworkshyd/V2CodeBase

Function "Prcs_RxData()" indented for better clarity.
  mcu1/mcu1.ino
Owners: @anand-tworks, @tworkshyd/V2CodeBase

Legends added to LUT.
  mcu1/mcu1.ino
Owners: @anand-tworks, @tworkshyd/V2CodeBase

One row in each Stroke-length look-up Table (LUT) is fine tuned and tested OK, for RR-10 in all 3 IER LUTs.
  mcu1/control_board.h
  mcu1/mcu1.ino
Owners: @anand-tworks, @tworkshyd/V2CodeBase
