Repository tworkshyd/V2Codebase, changes with the owners that CODEOWNERS names for each.
All owners: @anand-tworks, @tworkshyd/CodeReview, @tworkshyd/V2Team, @doctocat

Fix for invalid Oxygen Calibration Data
  mcu2/lcd_display/ctrl_display.cpp
Owners: @tworkshyd/CodeReview, @tworkshyd/V2Team

Function Naming for Status/Settings Screens
  .gitignore
  mcu2/debug.h
  mcu2/lcd_display/ctrl_display.cpp
  mcu2/lcd_display/ctrl_display.h
  mcu2/mcu2.ino
  mcu2/state_control/statecontrol.cpp
Owners: @anand-tworks, @tworkshyd/CodeReview, @tworkshyd/V2Team

Function Naming for Status/Settings Screens (#23) _ Version 2.02
  .gitignore
  mcu2/debug.h
  mcu2/lcd_display/ctrl_display.cpp
  mcu2/lcd_display/ctrl_display.h
  mcu2/mcu2.ino
  mcu2/state_control/statecontrol.cpp
Owners: @anand-tworks, @tworkshyd/CodeReview, @tworkshyd/V2Team

Verion 2.03
  mcu2/lcd_display/ctrl_display.cpp
  mcu2/state_control/statecontrol.cpp
Owners: @tworkshyd/CodeReview, @tworkshyd/V2Team

Verion 2.03 (#24)
  mcu2/lcd_display/ctrl_display.cpp
  mcu2/state_control/statecontrol.cpp
Owners: @tworkshyd/CodeReview, @tworkshyd/V2Team

Version 2.04
  .gitignore
  mcu1/mcu1.ino
  mcu2/debug.h
  mcu2/lcd_display/ctrl_display.cpp
  mcu2/mcu2.ino
  mcu2/state_control/statecontrol.cpp
  mcu2/state_control/statecontrol.h
Owners: @anand-tworks, @tworkshyd/CodeReview, @tworkshyd/V2Team

Version 2.04
  .gitignore
  mcu1/mcu1.ino
  mcu2/debug.h
  mcu2/lcd_display/ctrl_display.cpp
  mcu2/mcu2.ino
  mcu2/state_control/statecontrol.cpp
  mcu2/state_control/statecontrol.h
Owners: @anand-tworks, @tworkshyd/CodeReview, @tworkshyd/V2Team

Added a define to pick O2 Sensor Gain as per PCB Version
  mcu2/BoardDefines.h
  mcu2/lcd_display/ctrl_display.cpp
  mcu2/lcd_display/ctrl_display.h
  mcu2/sensors/sensormanager.cpp
Owners: @tworkshyd/CodeReview, @tworkshyd/V2Team

Added a define to pick O2 Sensor Gain as per PCB Version (#27)
  mcu2/BoardDefines.h
  mcu2/lcd_display/ctrl_display.cpp
  mcu2/lcd_display/ctrl_display.h
  mcu2/sensors/sensormanager.cpp
Owners: @tworkshyd/CodeReview, @tworkshyd/V2Team

Fix for O2 Calibration Issue
  mcu2/lcd_display/ctrl_display.cpp
  mcu2/mcu2.ino
  mcu2/sensors/O2_sensor.cpp
  mcu2/sensors/O2_sensor.h
  mcu2/sensors/sensormanager.cpp
  mcu2/sensors/sensormanager.h
Owners: @tworkshyd/CodeReview, @tworkshyd/V2Team

Fix for O2 Calibration Issue (#28)
  mcu2/lcd_display/ctrl_display.cpp
  mcu2/mcu2.ino
  mcu2/sensors/O2_sensor.cpp
  mcu2/sensors/O2_sensor.h
  mcu2/sensors/sensormanager.cpp
  mcu2/sensors/sensormanager.h
Owners: @tworkshyd/CodeReview, @tworkshyd/V2Team

Simple GP1 & GP2 data logging.
  .gitignore
  mcu1/BoardDefines.h
  mcu1/__vm/Upload.vmps.xml
  mcu1/gauge_pressure.cpp
  mcu1/mcu1.ino
  mcu2/mcu2.ino
Owners: @anand-tworks, @tworkshyd/CodeReview, @tworkshyd/V2Team

Fix For Plunger not starting from Home
  mcu1/relayModule_v2.h
  mcu2/lcd_display/ctrl_display.cpp
Owners: @tworkshyd/CodeReview, @tworkshyd/V2Team

Fix For Plunger not starting from Home (#29)
  mcu1/relayModule_v2.h
  mcu2/lcd_display/ctrl_display.cpp
Owners: @tworkshyd/CodeReview, @tworkshyd/V2Team

GP1 & GP2 data logging.
  DisplayBoard/DisplayBoard.ino
  mcu1/.vs/Solution1/v14/.atsuo
  mcu1/__vm/Upload.vmps.xml
  mcu2/BoardDefines.h
  mcu2/pin_new_v3.h
Owners: @anand-tworks, @tworkshyd/CodeReview, @tworkshyd/V2Team

Compilation issue fixed by changing Wire.h with jm_Wire.h and including extEEPROM in place of EEPROM.h
  mcu2/.vs/mcu2/v14/.atsuo
  mcu2/libraries/extEEPROM-3.4.1/extEEPROM.h
  mcu2/mcu2.ino
Owners: @tworkshyd/CodeReview, @tworkshyd/V2Team

Logging implemented @MCU1 as per the format.. given below
  mcu1/.vs/Solution1/v14/.atsuo
  mcu1/BoardDefines.h
  mcu1/__vm/Upload.vmps.xml
  mcu1/mcu1.ino
  mcu2/.vs/mcu2/v14/.atsuo
Owners: @tworkshyd/CodeReview, @tworkshyd/V2Team

Started with re-structuring the project files (c & c++ code files), to have them visible in any of the IDEs either aurdion / Microchip Studio/ ..
  DisplayBoard/DisplayBoard.ino
Owners: @anand-tworks, @tworkshyd/CodeReview

TVi and TVe show abnormally high values
  mcu2/sensors/sensormanager.cpp
Owners: @tworkshyd/CodeReview, @tworkshyd/V2Team

Version Updated to 3.04
  mcu2/lcd_display/ctrl_display.cpp
Owners: @tworkshyd/CodeReview, @tworkshyd/V2Team

Version 3.04 - TVi and TVe show very high values (#30)
  mcu2/lcd_display/ctrl_display.cpp
  mcu2/sensors/sensormanager.cpp
Owners: @tworkshyd/CodeReview, @tworkshyd/V2Team

Revert "Logging implemented @MCU1 as per the format.. given below"
  mcu1/.vs/Solution1/v14/.atsuo
  mcu1/BoardDefines.h
  mcu1/__vm/Upload.vmps.xml
  mcu1/mcu1.ino
  mcu2/.vs/mcu2/v14/.atsuo
Owners: @tworkshyd/CodeReview, @tworkshyd/V2Team

Display Board Project created with MPLAB XIDE tool.
  DisplayBoard/.generated_files/flags/default/3420ce3a2739465aa69541439ab3eb432f056b42
  DisplayBoard/.generated_files/flags/default/4e43c04e827da303aa86962058853c1b8873b61c
  DisplayBoard/.generated_files/flags/default/cda360e78779e2ec9011a186e3ff2094650a1e7e
  DisplayBoard/Makefile
  DisplayBoard/build/default/debug/main.o
  DisplayBoard/build/default/debug/main.o.d
  DisplayBoard/build/default/production/main.o
  DisplayBoard/build/default/production/main.o.d
  DisplayBoard/dist/default/debug/DisplayBoard.debug.elf
  DisplayBoard/dist/default/debug/DisplayBoard.debug.map
  DisplayBoard/dist/default/debug/memoryfile.xml
  DisplayBoard/dist/default/production/DisplayBoard.production.elf
  DisplayBoard/dist/default/production/DisplayBoard.production.hex
  DisplayBoard/dist/default/production/DisplayBoard.production.map
  DisplayBoard/dist/default/production/Ventilator.production.elf
  DisplayBoard/dist/default/production/Ventilator.production.hex
  DisplayBoard/dist/default/production/Ventilator.production.map
  DisplayBoard/dist/default/production/memoryfile.xml
  DisplayBoard/main.c
  DisplayBoard/nbproject/Makefile-default.mk
  DisplayBoard/nbproject/Makefile-genesis.properties
  DisplayBoard/nbproject/Makefile-impl.mk
  DisplayBoard/nbproject/Makefile-local-default.mk
  DisplayBoard/nbproject/Makefile-variables.mk
  DisplayBoard/nbproject/Package-default.bash
  DisplayBoard/nbproject/configurations.xml
  DisplayBoard/nbproject/private/configurations.xml
  DisplayBoard/nbproject/private/private.xml
  DisplayBoard/nbproject/project.xml
Owners: @anand-tworks, @tworkshyd/CodeReview

Clock configured to external 16MHz crystal OSC, delay routine is also working.
  DisplayBoard/build/default/debug/main.o
  DisplayBoard/build/default/debug/main.o.d
  DisplayBoard/build/default/production/main.o
  DisplayBoard/build/default/production/main.o.d
  DisplayBoard/dist/default/debug/DisplayBoard.debug.elf
  DisplayBoard/dist/default/debug/DisplayBoard.debug.map
  DisplayBoard/dist/default/debug/memoryfile.xml
  DisplayBoard/dist/default/production/DisplayBoard.production.elf
  DisplayBoard/dist/default/production/DisplayBoard.production.hex
  DisplayBoard/dist/default/production/DisplayBoard.production.map
  DisplayBoard/dist/default/production/Ventilator.production.elf
  DisplayBoard/dist/default/production/Ventilator.production.hex
  DisplayBoard/dist/default/production/Ventilator.production.map
  DisplayBoard/dist/default/production/memoryfile.xml
  DisplayBoard/inc/atmega2560.h
  DisplayBoard/inc/platform.h
  DisplayBoard/main.c
  DisplayBoard/nbproject/Makefile-genesis.properties
  DisplayBoard/nbproject/configurations.xml
  DisplayBoard/nbproject/project.xml
  DisplayBoard/src/platform.c
Owners: @anand-tworks, @tworkshyd/CodeReview

1Hz delay tested.. working fine.
  DisplayBoard/build/default/debug/main.o
  DisplayBoard/dist/default/debug/DisplayBoard.debug.elf
  DisplayBoard/dist/default/debug/DisplayBoard.debug.map
  DisplayBoard/dist/default/debug/memoryfile.xml
  DisplayBoard/main.c
Owners: @anand-tworks, @tworkshyd/CodeReview

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @anand-tworks and @tworkshyd/CodeReview will be requested for
# review when someone opens a pull request.

*       @anand-tworks @tworkshyd/CodeReview

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies specific files, only @<username> and not the global
# owner(s) will be requested for a review.


# In this for example , @tworkshyd/V2Team owns any files in the mcu1
# directory at the root of the repository and any of its
# subdirectories.

# MCU1 Code base

/mcu1 @tworkshyd/CodeReview @tworkshyd/V2Team

# MCU2 Code base

/mcu2 @tworkshyd/CodeReview @tworkshyd/V2Team


# Testcases and Docs

/tests @tworkshyd/CodeReview @tworkshyd/V2Team

























# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
/docs/ @doctocat
